.heading{
    width: 100%;
    margin: 0px;
    font-size: 23px;
    box-shadow: 5px 5px 5px blue;
}
.note{
    font-size: 15px;
    color: black;
}
.copy_right_footer{
    bottom: 0;
    position: fixed;
    background-color: grey;
    color: white;
    text-align: center;
    width: 100%;
    line-height: 3;
}
canvas{
    box-shadow: 5px 5px 5px blue;
    border: 5px solid green;
    border-radius: 20px;
}